#create your won .env file and replace with your own URI 
DATABASE_LOCAL=*********your local db url ****************

DATABASE_PROD=*********your production db url ****************

DB_NAME=*****"your db name ******"

# CREDENTIALS
# replace with your own credentials 


DATABASE_LOCAL_USERNAME= *****your db username ******

DATABASE_LOCAL_PASSWORD= *****your db password********


# ENVIRONMENT

NODE_ENV=development


# CLIENT SIDE URL [replace with your own urls]

CLIENT=your url
LOCAL_CLIENT=http://localhost:***


# token secret for jwt authentication

ACCESS_TOKEN_SECRET= randomTestTokentext

#stripe 
SRTIPE_KEY=sk_test_51OFa8mLyPuxrVtxV3t3kBoW4yGCoQSf4ff8D75HUKm9seqaSkk4EzHd8YSwb4PGyi6bsE54vG8QiYjFX52nSbqYm00QrItPxUX